In [51]:
#from numpy.core.numeric import infty
!pip install numpy
!pip install pandas
!pip install plotly

!pip install scikit-learn # non-depreceated sklearn

Requirement already satisfied: numpy in c:\users\friso\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\friso\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\friso\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\friso\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\friso\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\friso\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\friso\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: plotly in c:\users\friso\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\friso\anaconda3\lib\site-packages (from plotly) (8.2.2)

ERROR: Invalid requirement: '#'

Task1

In [52]:
import pandas as pd
# read the csv and make it a pandas.DataFrame
frame = pd.DataFrame(pd.read_csv("./blood_transfusion.csv"))
frame.describe(include='all') # 18 columns, including 2 categorical: Month & VisitorType, and two boolean: Weekend & Revenue

,months_since_last_donation,total_number_of_donations,total_blood_donated,months_since_first_donation,class
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [53]:
# visualise, understand, story

Task2

In [54]:
preprocessed = (frame.copy().dropna())
preprocessed = (preprocessed-preprocessed.min())/(preprocessed.max()-preprocessed.min()) # Normalization
print(preprocessed)

     months_since_last_donation  total_number_of_donations  \
0                      0.027027                   1.000000
1                      0.000000                   0.244898
2                      0.013514                   0.306122
3                      0.027027                   0.387755
4                      0.013514                   0.469388
..                          ...                        ...
743                    0.310811                   0.020408
744                    0.283784                   0.020408
745                    0.310811                   0.040816
746                    0.527027                   0.000000
747                    0.972973                   0.000000

     total_blood_donated  months_since_first_donation  class
0               1.000000                     1.000000    1.0
1               0.244898                     0.270833    1.0
2               0.306122                     0.343750    1.0
3               0.387755                     0.447917    1.0
4               0.469388                     0.781250    0.0
..                   ...                          ...    ...
743             0.020408                     0.375000    0.0
744             0.020408                     0.520833    0.0
745             0.040816                     0.625000    0.0
746             0.000000                     0.385417    0.0
747             0.000000                     0.729167    0.0

[748 rows x 5 columns]

TASK 3

In [55]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train_s, X_test_s, Y_train_s, Y_test_s = train_test_split(
    preprocessed.drop('class', axis=1), preprocessed['class'], test_size=0.33)
X_train_l, X_test_l, Y_train_l, Y_test_l = train_test_split(
    preprocessed.drop('class', axis=1), preprocessed['class'], test_size=0.66)

Task 4

In [85]:
from sklearn.metrics import classification_report
from sklearn.metrics import fbeta_score

#5.1 Confusion matrix
def confusionmatrix(predicted_y, real_y): # it works, im confused
    tp, fp, tn, fn = 0, 0, 0, 0
    for index in range(len(predicted_y)):
        predicted = predicted_y.iloc[index]
        real = real_y.iloc[index]
        print("debug", real)
        if predicted.item() == 1: 
            if predicted.item() == real.item(): 
                tp += 1
            else:
                fp += 1
        elif predicted.item() == 0:
            if predicted.item() == real.item(): 
                tn += 1
            else:
                fn += 1
    print(f"\t P \t\t N \n T \t {tp} \t\t {tn} \n F \t {fp} \t {fn} \n")

def accuraccy_checker(X_test, y_test, pred, mode="basic"):
    num, total = 0, 0
    predicted, true = [], []
    for index, row in X_test.iterrows():
        p = pred.predict(X_test.loc[[index]])
        q = list(y_test.loc[[index]])
        if p == q:
            num += 1
        total += 1
        predicted.append(p)
        true.append(q)

    if mode == "basic":
        print(f"Accuracy {pred}: {num/total*100:.2f}%")
    if mode == "classification_report":
        print(classification_report(true, predicted))
    if mode == "confusion_matrix":
        confusionmatrix(pd.DataFrame(true), pd.DataFrame(predicted))
    if mode == "fbeta":
        print(fbeta_score(true, predicted, average='macro', beta=0.5))
        print(fbeta_score(true, predicted, average='weighted', beta=0.5))
        print(fbeta_score(true, predicted, average=None, beta=0.5))

# 4.1
#Task 4
#KNN
def manhattan_distance(a, b):
    distance = 0
    for index, _ in enumerate(a):
        distance += ((a[index] - b[index]) ** 2) ** 0.5
    return distance      

def KNN_classifier(k, train_x, train_y, test_x):
    test_y = pd.DataFrame([0 for _ in range(test_x.shape[0])])
    for index, (_,testrow) in enumerate(test_x.iterrows()):
        distances = []
        for _, trainrow in train_x.iterrows():
            testvalues = list(testrow)  
            trainvalues = list(trainrow)
            distance = manhattan_distance(testvalues, trainvalues)
            distances.append(distance)
        nearest_neighbours = sorted(range(len(distances)), key=lambda i: distances[i])[:k]
        neighbor_labels = train_y.iloc[nearest_neighbours]
        predicted_label = round(neighbor_labels.mean())
        test_y.iloc[index] = predicted_label
    return test_y

def knn_checker(predicted_y, real_y, mode="basic"):
    
    if mode == "basic":
        num, total = 0, 0
        for index in range(len(predicted_y)):
            if list(predicted_y.iloc[index]) == (real_y.iloc[index]): 
                num += 1
            total += 1
        print(f"Accuracy knn: {num/total*100:.2f}%")
    if mode == "classification_report":
        print(classification_report(real_y, predicted_y))
    if mode == "confusion_matrix":
        confusionmatrix(pd.DataFrame(real_y), pd.DataFrame(predicted_y))
    if mode == "fbeta":
        print(fbeta_score(real_y, predicted_y, average='macro', beta=0.5))
        print(fbeta_score(real_y, predicted_y, average='weighted', beta=0.5))
        print(fbeta_score(real_y, predicted_y, average=None, beta=0.5))

knn_checker(KNN_classifier(5, X_train_s, Y_train_s, X_test_s), Y_test_s)
# 4.2
from sklearn.naive_bayes import GaussianNB
nbc = GaussianNB()
nbc.fit(X_train_s, Y_train_s)
accuraccy_checker(X_test_s, Y_test_s, nbc)

# 4.3
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
svc = make_pipeline(StandardScaler(), SVC(gamma='auto'))
svc.fit(X_train_s, Y_train_s)
accuraccy_checker(X_test_s, Y_test_s, svc)

# 4.4
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(random_state=1, max_iter=250).fit(X_train_s, Y_train_s)
accuraccy_checker(X_test_s, Y_test_s, mlp)

Accuracy knn: 77.33%
Accuracy GaussianNB(): 78.14%
Accuracy Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))]): 77.33%
Accuracy MLPClassifier(max_iter=250, random_state=1): 77.33%

In [86]:
accuraccy_checker(X_test_s, Y_test_s, nbc, mode = "confusion_matrix")

accuraccy_checker(X_test_s, Y_test_s, svc,  mode = "confusion_matrix")

accuraccy_checker(X_test_s, Y_test_s, mlp,  mode = "confusion_matrix")

knn_checker(X_test_s, Y_test_s,  mode = "confusion_matrix")

accuraccy_checker(X_test_s, Y_test_s, nbc, mode = "classification_report")

accuraccy_checker(X_test_s, Y_test_s, svc,  mode = "classification_report")

accuraccy_checker(X_test_s, Y_test_s, mlp,  mode = "classification_report")

knn_checker(X_test_s, Y_test_s,  mode = "classification_report")

accuraccy_checker(X_test_s, Y_test_s, nbc, mode = "fbeta")

accuraccy_checker(X_test_s, Y_test_s, svc,  mode = "fbeta")

accuraccy_checker(X_test_s, Y_test_s, mlp,  mode = "fbeta")

knn_checker(X_test_s, Y_test_s,  mode = "fbeta")

debug 0    0.0
Name: 0, dtype: float64
debug 0    0.0
Name: 1, dtype: float64
debug 0    0.0
Name: 2, dtype: float64
debug 0    0.0
Name: 3, dtype: float64
debug 0    0.0
Name: 4, dtype: float64
debug 0    0.0
Name: 5, dtype: float64
debug 0    0.0
Name: 6, dtype: float64
debug 0    0.0
Name: 7, dtype: float64
debug 0    0.0
Name: 8, dtype: float64
debug 0    0.0
Name: 9, dtype: float64
debug 0    0.0
Name: 10, dtype: float64
debug 0    0.0
Name: 11, dtype: float64
debug 0    0.0
Name: 12, dtype: float64
debug 0    0.0
Name: 13, dtype: float64
debug 0    0.0
Name: 14, dtype: float64
debug 0    0.0
Name: 15, dtype: float64
debug 0    0.0
Name: 16, dtype: float64
debug 0    0.0
Name: 17, dtype: float64
debug 0    0.0
Name: 18, dtype: float64
debug 0    0.0
Name: 19, dtype: float64
debug 0    0.0
Name: 20, dtype: float64
debug 0    0.0
Name: 21, dtype: float64
debug 0    0.0
Name: 22, dtype: float64
debug 0    0.0
Name: 23, dtype: float64
debug 0    0.0
Name: 24, dtype: float64
debug 0    0.0
Name: 25, dtype: float64
debug 0    0.0
Name: 26, dtype: float64
debug 0    0.0
Name: 27, dtype: float64
debug 0    0.0
Name: 28, dtype: float64
debug 0    0.0
Name: 29, dtype: float64
debug 0    0.0
Name: 30, dtype: float64
debug 0    0.0
Name: 31, dtype: float64
debug 0    0.0
Name: 32, dtype: float64
debug 0    0.0
Name: 33, dtype: float64
debug 0    0.0
Name: 34, dtype: float64
debug 0    0.0
Name: 35, dtype: float64
debug 0    0.0
Name: 36, dtype: float64
debug 0    1.0
Name: 37, dtype: float64
debug 0    1.0
Name: 38, dtype: float64
debug 0    0.0
Name: 39, dtype: float64
debug 0    0.0
Name: 40, dtype: float64
debug 0    0.0
Name: 41, dtype: float64
debug 0    0.0
Name: 42, dtype: float64
debug 0    0.0
Name: 43, dtype: float64
debug 0    0.0
Name: 44, dtype: float64
debug 0    0.0
Name: 45, dtype: float64
debug 0    0.0
Name: 46, dtype: float64
debug 0    0.0
Name: 47, dtype: float64
debug 0    0.0
Name: 48, dtype: float64
debug 0    0.0
Name: 49, dtype: float64
debug 0    0.0
Name: 50, dtype: float64
debug 0    0.0
Name: 51, dtype: float64
debug 0    0.0
Name: 52, dtype: float64
debug 0    0.0
Name: 53, dtype: float64
debug 0    0.0
Name: 54, dtype: float64
debug 0    0.0
Name: 55, dtype: float64
debug 0    0.0
Name: 56, dtype: float64
debug 0    0.0
Name: 57, dtype: float64
debug 0    0.0
Name: 58, dtype: float64
debug 0    0.0
Name: 59, dtype: float64
debug 0    0.0
Name: 60, dtype: float64
debug 0    0.0
Name: 61, dtype: float64
debug 0    0.0
Name: 62, dtype: float64
debug 0    0.0
Name: 63, dtype: float64
debug 0    0.0
Name: 64, dtype: float64
debug 0    0.0
Name: 65, dtype: float64
debug 0    0.0
Name: 66, dtype: float64
debug 0    0.0
Name: 67, dtype: float64
debug 0    0.0
Name: 68, dtype: float64
debug 0    0.0
Name: 69, dtype: float64
debug 0    0.0
Name: 70, dtype: float64
debug 0    0.0
Name: 71, dtype: float64
debug 0    0.0
Name: 72, dtype: float64
debug 0    1.0
Name: 73, dtype: float64
debug 0    0.0
Name: 74, dtype: float64
debug 0    0.0
Name: 75, dtype: float64
debug 0    0.0
Name: 76, dtype: float64
debug 0    0.0
Name: 77, dtype: float64
debug 0    0.0
Name: 78, dtype: float64
debug 0    0.0
Name: 79, dtype: float64
debug 0    0.0
Name: 80, dtype: float64
debug 0    0.0
Name: 81, dtype: float64
debug 0    0.0
Name: 82, dtype: float64
debug 0    0.0
Name: 83, dtype: float64
debug 0    0.0
Name: 84, dtype: float64
debug 0    0.0
Name: 85, dtype: float64
debug 0    0.0
Name: 86, dtype: float64
debug 0    0.0
Name: 87, dtype: float64
debug 0    0.0
Name: 88, dtype: float64
debug 0    0.0
Name: 89, dtype: float64
debug 0    0.0
Name: 90, dtype: float64
debug 0    0.0
Name: 91, dtype: float64
debug 0    0.0
Name: 92, dtype: float64
debug 0    0.0
Name: 93, dtype: float64
debug 0    0.0
Name: 94, dtype: float64
debug 0    0.0
Name: 95, dtype: float64
debug 0    0.0
Name: 96, dtype: float64
debug 0    0.0
Name: 97, dtype: float64
debug 0    0.0
Name: 98, dtype: float64
debug 0    0.0
Name: 99, dtype: float64
debug 0    0.0
Name: 100, dtype: float64
debug 0    0.0
Name: 101, dtype: float64
debug 0    0.0
Name: 102, dtype: float64
debug 0    0.0
Name: 103, dtype: float64
debug 0    0.0
Name: 104, dtype: float64
debug 0    0.0
Name: 105, dtype: float64
debug 0    0.0
Name: 106, dtype: float64
debug 0    0.0
Name: 107, dtype: float64
debug 0    0.0
Name: 108, dtype: float64
debug 0    1.0
Name: 109, dtype: float64
debug 0    0.0
Name: 110, dtype: float64
debug 0    0.0
Name: 111, dtype: float64
debug 0    0.0
Name: 112, dtype: float64
debug 0    0.0
Name: 113, dtype: float64
debug 0    0.0
Name: 114, dtype: float64
debug 0    0.0
Name: 115, dtype: float64
debug 0    0.0
Name: 116, dtype: float64
debug 0    0.0
Name: 117, dtype: float64
debug 0    0.0
Name: 118, dtype: float64
debug 0    0.0
Name: 119, dtype: float64
debug 0    0.0
Name: 120, dtype: float64
debug 0    0.0
Name: 121, dtype: float64
debug 0    1.0
Name: 122, dtype: float64
debug 0    0.0
Name: 123, dtype: float64
debug 0    0.0
Name: 124, dtype: float64
debug 0    1.0
Name: 125, dtype: float64
debug 0    0.0
Name: 126, dtype: float64
debug 0    0.0
Name: 127, dtype: float64
debug 0    0.0
Name: 128, dtype: float64
debug 0    0.0
Name: 129, dtype: float64
debug 0    0.0
Name: 130, dtype: float64
debug 0    0.0
Name: 131, dtype: float64
debug 0    0.0
Name: 132, dtype: float64
debug 0    0.0
Name: 133, dtype: float64
debug 0    0.0
Name: 134, dtype: float64
debug 0    0.0
Name: 135, dtype: float64
debug 0    0.0
Name: 136, dtype: float64
debug 0    0.0
Name: 137, dtype: float64
debug 0    1.0
Name: 138, dtype: float64
debug 0    0.0
Name: 139, dtype: float64
debug 0    0.0
Name: 140, dtype: float64
debug 0    0.0
Name: 141, dtype: float64
debug 0    0.0
Name: 142, dtype: float64
debug 0    0.0
Name: 143, dtype: float64
debug 0    0.0
Name: 144, dtype: float64
debug 0    0.0
Name: 145, dtype: float64
debug 0    1.0
Name: 146, dtype: float64
debug 0    0.0
Name: 147, dtype: float64
debug 0    0.0
Name: 148, dtype: float64
debug 0    0.0
Name: 149, dtype: float64
debug 0    0.0
Name: 150, dtype: float64
debug 0    0.0
Name: 151, dtype: float64
debug 0    0.0
Name: 152, dtype: float64
debug 0    0.0
Name: 153, dtype: float64
debug 0    0.0
Name: 154, dtype: float64
debug 0    0.0
Name: 155, dtype: float64
debug 0    0.0
Name: 156, dtype: float64
debug 0    0.0
Name: 157, dtype: float64
debug 0    0.0
Name: 158, dtype: float64
debug 0    0.0
Name: 159, dtype: float64
debug 0    0.0
Name: 160, dtype: float64
debug 0    0.0
Name: 161, dtype: float64
debug 0    1.0
Name: 162, dtype: float64
debug 0    0.0
Name: 163, dtype: float64
debug 0    0.0
Name: 164, dtype: float64
debug 0    0.0
Name: 165, dtype: float64
debug 0    0.0
Name: 166, dtype: float64
debug 0    0.0
Name: 167, dtype: float64
debug 0    0.0
Name: 168, dtype: float64
debug 0    0.0
Name: 169, dtype: float64
debug 0    0.0
Name: 170, dtype: float64
debug 0    0.0
Name: 171, dtype: float64
debug 0    0.0
Name: 172, dtype: float64
debug 0    0.0
Name: 173, dtype: float64
debug 0    0.0
Name: 174, dtype: float64
debug 0    0.0
Name: 175, dtype: float64
debug 0    0.0
Name: 176, dtype: float64
debug 0    0.0
Name: 177, dtype: float64
debug 0    0.0
Name: 178, dtype: float64
debug 0    0.0
Name: 179, dtype: float64
debug 0    0.0
Name: 180, dtype: float64
debug 0    0.0
Name: 181, dtype: float64
debug 0    0.0
Name: 182, dtype: float64
debug 0    0.0
Name: 183, dtype: float64
debug 0    0.0
Name: 184, dtype: float64
debug 0    0.0
Name: 185, dtype: float64
debug 0    0.0
Name: 186, dtype: float64
debug 0    0.0
Name: 187, dtype: float64
debug 0    0.0
Name: 188, dtype: float64
debug 0    0.0
Name: 189, dtype: float64
debug 0    0.0
Name: 190, dtype: float64
debug 0    0.0
Name: 191, dtype: float64
debug 0    1.0
Name: 192, dtype: float64
debug 0    0.0
Name: 193, dtype: float64
debug 0    0.0
Name: 194, dtype: float64
debug 0    0.0
Name: 195, dtype: float64
debug 0    0.0
Name: 196, dtype: float64
debug 0    0.0
Name: 197, dtype: float64
debug 0    0.0
Name: 198, dtype: float64
debug 0    0.0
Name: 199, dtype: float64
debug 0    0.0
Name: 200, dtype: float64
debug 0    0.0
Name: 201, dtype: float64
debug 0    0.0
Name: 202, dtype: float64
debug 0    0.0
Name: 203, dtype: float64
debug 0    0.0
Name: 204, dtype: float64
debug 0    0.0
Name: 205, dtype: float64
debug 0    0.0
Name: 206, dtype: float64
debug 0    0.0
Name: 207, dtype: float64
debug 0    0.0
Name: 208, dtype: float64
debug 0    0.0
Name: 209, dtype: float64
debug 0    0.0
Name: 210, dtype: float64
debug 0    0.0
Name: 211, dtype: float64
debug 0    0.0
Name: 212, dtype: float64
debug 0    0.0
Name: 213, dtype: float64
debug 0    0.0
Name: 214, dtype: float64
debug 0    0.0
Name: 215, dtype: float64
debug 0    1.0
Name: 216, dtype: float64
debug 0    0.0
Name: 217, dtype: float64
debug 0    0.0
Name: 218, dtype: float64
debug 0    0.0
Name: 219, dtype: float64
debug 0    0.0
Name: 220, dtype: float64
debug 0    0.0
Name: 221, dtype: float64
debug 0    0.0
Name: 222, dtype: float64
debug 0    0.0
Name: 223, dtype: float64
debug 0    0.0
Name: 224, dtype: float64
debug 0    0.0
Name: 225, dtype: float64
debug 0    0.0
Name: 226, dtype: float64
debug 0    0.0
Name: 227, dtype: float64
debug 0    0.0
Name: 228, dtype: float64
debug 0    0.0
Name: 229, dtype: float64
debug 0    0.0
Name: 230, dtype: float64
debug 0    0.0
Name: 231, dtype: float64
debug 0    0.0
Name: 232, dtype: float64
debug 0    0.0
Name: 233, dtype: float64
debug 0    0.0
Name: 234, dtype: float64
debug 0    0.0
Name: 235, dtype: float64
debug 0    0.0
Name: 236, dtype: float64
debug 0    0.0
Name: 237, dtype: float64
debug 0    1.0
Name: 238, dtype: float64
debug 0    0.0
Name: 239, dtype: float64
debug 0    0.0
Name: 240, dtype: float64
debug 0    0.0
Name: 241, dtype: float64
debug 0    0.0
Name: 242, dtype: float64
debug 0    0.0
Name: 243, dtype: float64
debug 0    0.0
Name: 244, dtype: float64
debug 0    0.0
Name: 245, dtype: float64
debug 0    0.0
Name: 246, dtype: float64
	 P 		 N
 T 	 8 		 185
 F 	 50 	 4

debug 0    0.0
Name: 0, dtype: float64
debug 0    0.0
Name: 1, dtype: float64
debug 0    0.0
Name: 2, dtype: float64
debug 0    0.0
Name: 3, dtype: float64
debug 0    0.0
Name: 4, dtype: float64
debug 0    0.0
Name: 5, dtype: float64
debug 0    0.0
Name: 6, dtype: float64
debug 0    0.0
Name: 7, dtype: float64
debug 0    0.0
Name: 8, dtype: float64
debug 0    0.0
Name: 9, dtype: float64
debug 0    0.0
Name: 10, dtype: float64
debug 0    0.0
Name: 11, dtype: float64
debug 0    0.0
Name: 12, dtype: float64
debug 0    0.0
Name: 13, dtype: float64
debug 0    0.0
Name: 14, dtype: float64
debug 0    0.0
Name: 15, dtype: float64
debug 0    0.0
Name: 16, dtype: float64
debug 0    0.0
Name: 17, dtype: float64
debug 0    0.0
Name: 18, dtype: float64
debug 0    0.0
Name: 19, dtype: float64
debug 0    0.0
Name: 20, dtype: float64
debug 0    0.0
Name: 21, dtype: float64
debug 0    0.0
Name: 22, dtype: float64
debug 0    0.0
Name: 23, dtype: float64
debug 0    0.0
Name: 24, dtype: float64
debug 0    0.0
Name: 25, dtype: float64
debug 0    0.0
Name: 26, dtype: float64
debug 0    0.0
Name: 27, dtype: float64
debug 0    0.0
Name: 28, dtype: float64
debug 0    0.0
Name: 29, dtype: float64
debug 0    0.0
Name: 30, dtype: float64
debug 0    0.0
Name: 31, dtype: float64
debug 0    0.0
Name: 32, dtype: float64
debug 0    0.0
Name: 33, dtype: float64
debug 0    0.0
Name: 34, dtype: float64
debug 0    0.0
Name: 35, dtype: float64
debug 0    0.0
Name: 36, dtype: float64
debug 0    0.0
Name: 37, dtype: float64
debug 0    1.0
Name: 38, dtype: float64
debug 0    0.0
Name: 39, dtype: float64
debug 0    0.0
Name: 40, dtype: float64
debug 0    0.0
Name: 41, dtype: float64
debug 0    0.0
Name: 42, dtype: float64
debug 0    0.0
Name: 43, dtype: float64
debug 0    0.0
Name: 44, dtype: float64
debug 0    0.0
Name: 45, dtype: float64
debug 0    0.0
Name: 46, dtype: float64
debug 0    0.0
Name: 47, dtype: float64
debug 0    0.0
Name: 48, dtype: float64
debug 0    0.0
Name: 49, dtype: float64
debug 0    0.0
Name: 50, dtype: float64
debug 0    0.0
Name: 51, dtype: float64
debug 0    0.0
Name: 52, dtype: float64
debug 0    0.0
Name: 53, dtype: float64
debug 0    0.0
Name: 54, dtype: float64
debug 0    0.0
Name: 55, dtype: float64
debug 0    0.0
Name: 56, dtype: float64
debug 0    0.0
Name: 57, dtype: float64
debug 0    0.0
Name: 58, dtype: float64
debug 0    0.0
Name: 59, dtype: float64
debug 0    0.0
Name: 60, dtype: float64
debug 0    0.0
Name: 61, dtype: float64
debug 0    1.0
Name: 62, dtype: float64
debug 0    0.0
Name: 63, dtype: float64
debug 0    0.0
Name: 64, dtype: float64
debug 0    0.0
Name: 65, dtype: float64
debug 0    0.0
Name: 66, dtype: float64
debug 0    0.0
Name: 67, dtype: float64
debug 0    0.0
Name: 68, dtype: float64
debug 0    0.0
Name: 69, dtype: float64
debug 0    0.0
Name: 70, dtype: float64
debug 0    0.0
Name: 71, dtype: float64
debug 0    0.0
Name: 72, dtype: float64
debug 0    0.0
Name: 73, dtype: float64
debug 0    0.0
Name: 74, dtype: float64
debug 0    0.0
Name: 75, dtype: float64
debug 0    0.0
Name: 76, dtype: float64
debug 0    0.0
Name: 77, dtype: float64
debug 0    0.0
Name: 78, dtype: float64
debug 0    0.0
Name: 79, dtype: float64
debug 0    0.0
Name: 80, dtype: float64
debug 0    0.0
Name: 81, dtype: float64
debug 0    0.0
Name: 82, dtype: float64
debug 0    0.0
Name: 83, dtype: float64
debug 0    0.0
Name: 84, dtype: float64
debug 0    0.0
Name: 85, dtype: float64
debug 0    0.0
Name: 86, dtype: float64
debug 0    0.0
Name: 87, dtype: float64
debug 0    0.0
Name: 88, dtype: float64
debug 0    0.0
Name: 89, dtype: float64
debug 0    0.0
Name: 90, dtype: float64
debug 0    0.0
Name: 91, dtype: float64
debug 0    0.0
Name: 92, dtype: float64
debug 0    0.0
Name: 93, dtype: float64
debug 0    0.0
Name: 94, dtype: float64
debug 0    0.0
Name: 95, dtype: float64
debug 0    0.0
Name: 96, dtype: float64
debug 0    0.0
Name: 97, dtype: float64
debug 0    0.0
Name: 98, dtype: float64
debug 0    0.0
Name: 99, dtype: float64
debug 0    0.0
Name: 100, dtype: float64
debug 0    0.0
Name: 101, dtype: float64
debug 0    0.0
Name: 102, dtype: float64
debug 0    0.0
Name: 103, dtype: float64
debug 0    0.0
Name: 104, dtype: float64
debug 0    0.0
Name: 105, dtype: float64
debug 0    0.0
Name: 106, dtype: float64
debug 0    0.0
Name: 107, dtype: float64
debug 0    0.0
Name: 108, dtype: float64
debug 0    0.0
Name: 109, dtype: float64
debug 0    0.0
Name: 110, dtype: float64
debug 0    0.0
Name: 111, dtype: float64
debug 0    0.0
Name: 112, dtype: float64
debug 0    0.0
Name: 113, dtype: float64
debug 0    0.0
Name: 114, dtype: float64
debug 0    0.0
Name: 115, dtype: float64
debug 0    0.0
Name: 116, dtype: float64
debug 0    0.0
Name: 117, dtype: float64
debug 0    0.0
Name: 118, dtype: float64
debug 0    0.0
Name: 119, dtype: float64
debug 0    0.0
Name: 120, dtype: float64
debug 0    0.0
Name: 121, dtype: float64
debug 0    1.0
Name: 122, dtype: float64
debug 0    0.0
Name: 123, dtype: float64
debug 0    0.0
Name: 124, dtype: float64
debug 0    0.0
Name: 125, dtype: float64
debug 0    0.0
Name: 126, dtype: float64
debug 0    0.0
Name: 127, dtype: float64
debug 0    0.0
Name: 128, dtype: float64
debug 0    0.0
Name: 129, dtype: float64
debug 0    0.0
Name: 130, dtype: float64
debug 0    0.0
Name: 131, dtype: float64
debug 0    0.0
Name: 132, dtype: float64
debug 0    0.0
Name: 133, dtype: float64
debug 0    0.0
Name: 134, dtype: float64
debug 0    0.0
Name: 135, dtype: float64
debug 0    0.0
Name: 136, dtype: float64
debug 0    0.0
Name: 137, dtype: float64
debug 0    1.0
Name: 138, dtype: float64
debug 0    0.0
Name: 139, dtype: float64
debug 0    0.0
Name: 140, dtype: float64
debug 0    0.0
Name: 141, dtype: float64
debug 0    0.0
Name: 142, dtype: float64
debug 0    0.0
Name: 143, dtype: float64
debug 0    0.0
Name: 144, dtype: float64
debug 0    0.0
Name: 145, dtype: float64
debug 0    1.0
Name: 146, dtype: float64
debug 0    0.0
Name: 147, dtype: float64
debug 0    0.0
Name: 148, dtype: float64
debug 0    0.0
Name: 149, dtype: float64
debug 0    0.0
Name: 150, dtype: float64
debug 0    0.0
Name: 151, dtype: float64
debug 0    0.0
Name: 152, dtype: float64
debug 0    0.0
Name: 153, dtype: float64
debug 0    0.0
Name: 154, dtype: float64
debug 0    0.0
Name: 155, dtype: float64
debug 0    0.0
Name: 156, dtype: float64
debug 0    0.0
Name: 157, dtype: float64
debug 0    0.0
Name: 158, dtype: float64
debug 0    0.0
Name: 159, dtype: float64
debug 0    0.0
Name: 160, dtype: float64
debug 0    0.0
Name: 161, dtype: float64
debug 0    1.0
Name: 162, dtype: float64
debug 0    0.0
Name: 163, dtype: float64
debug 0    0.0
Name: 164, dtype: float64
debug 0    0.0
Name: 165, dtype: float64
debug 0    0.0
Name: 166, dtype: float64
debug 0    0.0
Name: 167, dtype: float64
debug 0    0.0
Name: 168, dtype: float64
debug 0    0.0
Name: 169, dtype: float64
debug 0    0.0
Name: 170, dtype: float64
debug 0    0.0
Name: 171, dtype: float64
debug 0    0.0
Name: 172, dtype: float64
debug 0    0.0
Name: 173, dtype: float64
debug 0    0.0
Name: 174, dtype: float64
debug 0    0.0
Name: 175, dtype: float64
debug 0    0.0
Name: 176, dtype: float64
debug 0    0.0
Name: 177, dtype: float64
debug 0    0.0
Name: 178, dtype: float64
debug 0    0.0
Name: 179, dtype: float64
debug 0    0.0
Name: 180, dtype: float64
debug 0    0.0
Name: 181, dtype: float64
debug 0    0.0
Name: 182, dtype: float64
debug 0    0.0
Name: 183, dtype: float64
debug 0    0.0
Name: 184, dtype: float64
debug 0    0.0
Name: 185, dtype: float64
debug 0    0.0
Name: 186, dtype: float64
debug 0    0.0
Name: 187, dtype: float64
debug 0    0.0
Name: 188, dtype: float64
debug 0    0.0
Name: 189, dtype: float64
debug 0    0.0
Name: 190, dtype: float64
debug 0    0.0
Name: 191, dtype: float64
debug 0    1.0
Name: 192, dtype: float64
debug 0    0.0
Name: 193, dtype: float64
debug 0    0.0
Name: 194, dtype: float64
debug 0    0.0
Name: 195, dtype: float64
debug 0    0.0
Name: 196, dtype: float64
debug 0    0.0
Name: 197, dtype: float64
debug 0    0.0
Name: 198, dtype: float64
debug 0    0.0
Name: 199, dtype: float64
debug 0    0.0
Name: 200, dtype: float64
debug 0    0.0
Name: 201, dtype: float64
debug 0    0.0
Name: 202, dtype: float64
debug 0    0.0
Name: 203, dtype: float64
debug 0    0.0
Name: 204, dtype: float64
debug 0    0.0
Name: 205, dtype: float64
debug 0    0.0
Name: 206, dtype: float64
debug 0    0.0
Name: 207, dtype: float64
debug 0    0.0
Name: 208, dtype: float64
debug 0    0.0
Name: 209, dtype: float64
debug 0    0.0
Name: 210, dtype: float64
debug 0    0.0
Name: 211, dtype: float64
debug 0    0.0
Name: 212, dtype: float64
debug 0    0.0
Name: 213, dtype: float64
debug 0    0.0
Name: 214, dtype: float64
debug 0    0.0
Name: 215, dtype: float64
debug 0    1.0
Name: 216, dtype: float64
debug 0    0.0
Name: 217, dtype: float64
debug 0    0.0
Name: 218, dtype: float64
debug 0    0.0
Name: 219, dtype: float64
debug 0    0.0
Name: 220, dtype: float64
debug 0    0.0
Name: 221, dtype: float64
debug 0    0.0
Name: 222, dtype: float64
debug 0    0.0
Name: 223, dtype: float64
debug 0    0.0
Name: 224, dtype: float64
debug 0    1.0
Name: 225, dtype: float64
debug 0    0.0
Name: 226, dtype: float64
debug 0    0.0
Name: 227, dtype: float64
debug 0    0.0
Name: 228, dtype: float64
debug 0    0.0
Name: 229, dtype: float64
debug 0    0.0
Name: 230, dtype: float64
debug 0    0.0
Name: 231, dtype: float64
debug 0    0.0
Name: 232, dtype: float64
debug 0    0.0
Name: 233, dtype: float64
debug 0    0.0
Name: 234, dtype: float64
debug 0    0.0
Name: 235, dtype: float64
debug 0    0.0
Name: 236, dtype: float64
debug 0    0.0
Name: 237, dtype: float64
debug 0    1.0
Name: 238, dtype: float64
debug 0    0.0
Name: 239, dtype: float64
debug 0    0.0
Name: 240, dtype: float64
debug 0    0.0
Name: 241, dtype: float64
debug 0    0.0
Name: 242, dtype: float64
debug 0    0.0
Name: 243, dtype: float64
debug 0    0.0
Name: 244, dtype: float64

ValueError: can only convert an array of size 1 to a Python scalar