In [1]:
#from numpy.core.numeric import infty
!pip install numpy
!pip install pandas
!pip install plotly

!pip install scikit-learn # non-depreceated sklearn

Requirement already satisfied: numpy in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (2.1.1)

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: C:\Users\Leand\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: C:\Users\Leand\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

Requirement already satisfied: plotly in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (6.0.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from plotly) (1.32.0)
Requirement already satisfied: packaging in c:\users\leand\appdata\local\programs\python\python312\lib\site-packages (from plotly) (24.1)

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: C:\Users\Leand\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 25.0 -> 25.2
[notice] To update, run: C:\Users\Leand\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

Task1

In [2]:
import pandas as pd
# read the csv and make it a pandas.DataFrame
frame = pd.DataFrame(pd.read_csv("./blood_transfusion.csv"))
frame.describe(include='all') # 18 columns, including 2 categorical: Month & VisitorType, and two boolean: Weekend & Revenue

,months_since_last_donation,total_number_of_donations,total_blood_donated,months_since_first_donation,class
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [ ]:
# visualise, understand, story

Task2

In [8]:
preprocessed = (frame.copy().dropna())
preprocessed = (preprocessed-preprocessed.min())/(preprocessed.max()-preprocessed.min()) # Normalization
print(preprocessed)

     months_since_last_donation  total_number_of_donations  \
0                      0.027027                   1.000000
1                      0.000000                   0.244898
2                      0.013514                   0.306122
3                      0.027027                   0.387755
4                      0.013514                   0.469388
..                          ...                        ...
743                    0.310811                   0.020408
744                    0.283784                   0.020408
745                    0.310811                   0.040816
746                    0.527027                   0.000000
747                    0.972973                   0.000000

     total_blood_donated  months_since_first_donation  class
0               1.000000                     1.000000    1.0
1               0.244898                     0.270833    1.0
2               0.306122                     0.343750    1.0
3               0.387755                     0.447917    1.0
4               0.469388                     0.781250    0.0
..                   ...                          ...    ...
743             0.020408                     0.375000    0.0
744             0.020408                     0.520833    0.0
745             0.040816                     0.625000    0.0
746             0.000000                     0.385417    0.0
747             0.000000                     0.729167    0.0

[748 rows x 5 columns]