In [5]:
!pip install numpy
!pip install pandas
!pip install plotly

!pip install scikit-learn # non-depreaceated sklearn

Requirement already satisfied: numpy in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: pandas in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: plotly in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (6.3.0)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from plotly) (2.3.0)
Requirement already satisfied: packaging in c:\users\tibor\appdata\local\programs\python\python313\lib\site-packages (from plotly) (25.0)

ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

Task 1

In [2]:
import pandas as pd
# read the csv and make it a pandas.DataFrame
frame = pd.DataFrame(pd.read_csv("./online_shoppers_intention.csv"))
frame.describe(include='all') # 18 columns, including 2 categorical: Month & VisitorType, and two boolean: Weekend & Revenue

        Administrative  Administrative_Duration  ...  Weekend  Revenue
count     12330.000000             12330.000000  ...    12330    12330
unique             NaN                      NaN  ...        2        2
top                NaN                      NaN  ...    False    False
freq               NaN                      NaN  ...     9462    10422
mean          2.315166                80.818611  ...      NaN      NaN
std           3.321784               176.779107  ...      NaN      NaN
min           0.000000                 0.000000  ...      NaN      NaN
25%           0.000000                 0.000000  ...      NaN      NaN
50%           1.000000                 7.500000  ...      NaN      NaN
75%           4.000000                93.256250  ...      NaN      NaN
max          27.000000              3398.750000  ...      NaN      NaN

[11 rows x 18 columns]

Verhaaltje van ~1min

In [4]:
#visualisation
import plotly.express as px
fig = px.line(frame, x='Browser', y=frame.columns)
fig.show()

ValueError: Plotly Express cannot process wide-form data with columns of different type.

Task 2

In [5]:
#Prepositioning op basis van algoritmes in task 3
# Preprocess using dropna AND change all string types to an integer
#TODO Jan & Apr aren't in dataset, maybe remove from this function
def Month_to_num(x):
    months = {
        "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4,
        "May": 5, "June": 6, "Jul": 7, "Aug": 8,
        "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12, "Returning_Visitor": 1, "Old_Visitor": 2, "New_Visitor": 3, "Other": 4}
    if x not in months:
        raise ValueError(f"Invalid month string: {x}")
    return months[x]

addlist = []
preprocessed = (frame.copy().dropna())
for i,j in enumerate(preprocessed['Month']):
    addlist.append(Month_to_num(j))
preprocessed['Month'] = addlist

addlist = []
for i,j in enumerate(preprocessed['VisitorType']):
    addlist.append(Month_to_num(j))
preprocessed['VisitorType'] = addlist

for i in preprocessed.columns:
    preprocessed[i] = pd.to_numeric(preprocessed[i], errors='raise')

print(preprocessed)

       Administrative  Administrative_Duration  ...  Weekend  Revenue
0                   0                      0.0  ...    False    False
1                   0                      0.0  ...    False    False
2                   0                      0.0  ...    False    False
3                   0                      0.0  ...    False    False
4                   0                      0.0  ...     True    False
...               ...                      ...  ...      ...      ...
12325               3                    145.0  ...     True    False
12326               0                      0.0  ...     True    False
12327               0                      0.0  ...     True    False
12328               4                     75.0  ...    False    False
12329               0                      0.0  ...     True    False

[12330 rows x 18 columns]

Task 3

In [ ]:
# affinity propagation clustering - aan de hand van documentatie - NU HEEL SLOOM
from sklearn.cluster import AffinityPropagation, DBSCAN, Birch
Data = preprocessed.copy()
#Gebruik van sample maakt het proces sneller
Sample = Data.sample(n=1000)
clustering = AffinityPropagation(random_state=5).fit(Sample)
AffinityPropagation(random_state=24)

labels = clustering.labels_
cluster_centers = clustering.cluster_centers_
n_clusters = len(cluster_centers)

print("Number of clusters:", n_clusters)
print("Cluster centers:\n", cluster_centers)


# DBSCAN clustering
#TODO werkt maar de label -1 laat zien dat er een hoop data punten in ruis categorie vallen...
clustering2 = DBSCAN(eps=3).fit(Data)
labels2 = clustering2.labels_
print("Labels DBSCAN", labels2[:50])   


# Birch clustering
#TODO nog een groot aantal clusters...
clustering3 = Birch(n_clusters=None).fit(Data)
labels3 = clustering3.labels_
print("Labels Birch", labels3[:50])   
aantal_clusters = len(set(labels3))
print("Aantal clusters Birch", aantal_clusters)

c:\Users\tibor\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\cluster\_affinity_propagation.py:140: ConvergenceWarning: Affinity propagation did not converge, this model may return degenerate cluster centers and labels.
  warnings.warn(

Number of clusters: 37
Cluster centers:
 [[1.00000000e+00 6.86000000e+01 0.00000000e+00 0.00000000e+00
  7.30000000e+01 2.26549286e+03 1.11111110e-02 7.16821000e-03
  0.00000000e+00 0.00000000e+00 1.10000000e+01 3.00000000e+00
  2.00000000e+00 3.00000000e+00 1.30000000e+01 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.00000000e+00 4.20000000e+01 0.00000000e+00 0.00000000e+00
  1.60000000e+01 6.02000000e+02 1.47058820e-02 4.41176470e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 2.00000000e+00
  2.00000000e+00 1.00000000e+00 3.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.00000000e+00 6.62666667e+01 1.00000000e+00 3.48600000e+02
  6.00000000e+00 2.33166667e+02 4.44444440e-02 4.66666670e-02
  1.11220514e+01 0.00000000e+00 1.00000000e+01 3.00000000e+00
  2.00000000e+00 3.00000000e+00 7.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 6.21333333e+01 0.00000000e+00 0.00000000e+00
  7.90000000e+01 3.42165333e+03 4.87804900e-03 2.23577240e-02
  4.12743068e+00 0.00000000e+00 1.00000000e+01 2.00000000e+00
  4.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [3.00000000e+00 4.10000000e+01 0.00000000e+00 0.00000000e+00
  3.20000000e+01 1.13084697e+03 1.47058820e-02 1.80618400e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 1.00000000e+00
  1.00000000e+00 2.00000000e+00 3.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [4.00000000e+00 9.21000000e+01 2.00000000e+00 2.82000000e+01
  2.90000000e+01 8.52000000e+02 6.25000000e-03 2.23958330e-02
  0.00000000e+00 0.00000000e+00 8.00000000e+00 2.00000000e+00
  5.00000000e+00 8.00000000e+00 5.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.20000000e+01 5.21075000e+02 0.00000000e+00 0.00000000e+00
  8.30000000e+01 5.12469167e+03 0.00000000e+00 1.11965930e-02
  3.52542012e+01 0.00000000e+00 1.20000000e+01 2.00000000e+00
  2.00000000e+00 7.00000000e+00 6.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [5.00000000e+00 7.63333333e+01 2.00000000e+00 0.00000000e+00
  3.60000000e+01 1.42054790e+03 1.53846150e-02 4.26943430e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 3.00000000e+00
  2.00000000e+00 1.00000000e+00 4.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+01 5.15613333e+02 3.00000000e+00 8.51400000e+01
  5.00000000e+01 1.55862000e+03 3.63636400e-03 1.18787880e-02
  1.21258688e+01 0.00000000e+00 8.00000000e+00 3.00000000e+00
  2.00000000e+00 4.00000000e+00 4.00000000e+00 1.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [1.00000000e+01 7.20500000e+02 2.00000000e+00 8.87250000e+01
  2.20000000e+02 1.05803448e+04 4.76774200e-03 2.21409240e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.00000000e+00 2.45000000e+01 1.00000000e+00 7.10000000e+02
  6.60000000e+01 4.56695284e+03 6.47058800e-03 1.81419230e-02
  0.00000000e+00 0.00000000e+00 3.00000000e+00 3.00000000e+00
  2.00000000e+00 2.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [5.00000000e+00 1.10000000e+02 6.00000000e+00 1.18850000e+03
  2.30000000e+02 9.64817709e+03 4.44444400e-03 1.54866390e-02
  3.35943565e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.00000000e+00 1.99625000e+02 2.00000000e+00 1.00000000e+01
  8.10000000e+01 4.27260794e+03 2.35294100e-03 1.86274510e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.00000000e+00 1.17860000e+03 4.00000000e+00 1.24800000e+02
  1.80000000e+01 1.71637333e+03 8.33333300e-03 1.66666670e-02
  0.00000000e+00 0.00000000e+00 7.00000000e+00 2.00000000e+00
  5.00000000e+00 6.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+01 1.43583333e+02 1.00000000e+00 9.20000000e+01
  2.45000000e+02 7.79315869e+03 1.58730200e-03 4.61017700e-03
  5.94245892e+01 0.00000000e+00 1.10000000e+01 3.00000000e+00
  2.00000000e+00 1.00000000e+00 8.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [7.00000000e+00 7.83571429e+01 3.00000000e+00 2.10666667e+02
  3.09000000e+02 1.21581964e+04 7.58620700e-03 2.55321760e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [2.00000000e+00 4.05000000e+01 0.00000000e+00 0.00000000e+00
  1.33000000e+02 4.81570161e+03 3.73134300e-03 1.17384580e-02
  8.96944797e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 3.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [2.00000000e+00 1.68750000e+03 0.00000000e+00 0.00000000e+00
  2.90000000e+01 3.09803333e+03 0.00000000e+00 2.58064520e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 2.00000000e+00
  4.00000000e+00 5.00000000e+00 3.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.00000000e+00 4.30833333e+02 1.00000000e+00 2.62000000e+02
  4.90000000e+01 2.33856777e+03 2.35294120e-02 2.89075630e-02
  9.60952941e+00 6.00000000e-01 5.00000000e+00 3.00000000e+00
  2.00000000e+00 4.00000000e+00 4.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.40000000e+01 1.22091429e+03 4.00000000e+00 1.00540000e+03
  2.80000000e+02 1.81717945e+04 1.74861090e-02 3.89804180e-02
  5.69765900e+00 0.00000000e+00 7.00000000e+00 2.00000000e+00
  2.00000000e+00 1.00000000e+00 3.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [9.00000000e+00 1.10409091e+02 1.00000000e+00 5.10000000e+01
  6.20000000e+01 3.12021110e+03 5.63380000e-04 1.73969070e-02
  7.89117101e+00 0.00000000e+00 3.00000000e+00 2.00000000e+00
  2.00000000e+00 1.00000000e+00 1.00000000e+01 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 1.57500000e+01 0.00000000e+00 0.00000000e+00
  3.37000000e+02 1.12314101e+04 2.47279900e-03 1.32335220e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.00000000e+00 5.03733333e+01 4.00000000e+00 6.31000000e+01
  9.10000000e+01 3.82749885e+03 5.78014180e-02 7.23995270e-02
  0.00000000e+00 0.00000000e+00 9.00000000e+00 3.00000000e+00
  2.00000000e+00 6.00000000e+00 1.30000000e+01 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [4.00000000e+00 6.54000000e+01 0.00000000e+00 0.00000000e+00
  2.30000000e+01 1.95440000e+03 0.00000000e+00 6.66666700e-03
  1.51359615e+01 0.00000000e+00 8.00000000e+00 2.00000000e+00
  2.00000000e+00 3.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.20000000e+01 1.09850000e+03 1.00000000e+00 0.00000000e+00
  1.15000000e+02 6.36750634e+03 1.60000000e-02 3.09300130e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 1.00000000e+00
  1.00000000e+00 1.00000000e+00 3.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.00000000e+01 1.31340000e+02 2.00000000e+00 3.82000000e+01
  1.02000000e+02 6.68452095e+03 2.18181800e-03 1.73636360e-02
  4.21536354e+00 0.00000000e+00 9.00000000e+00 2.00000000e+00
  2.00000000e+00 5.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.00000000e+00 9.30000000e+01 3.00000000e+00 8.08500000e+02
  3.30000000e+01 1.31047222e+03 1.85185190e-02 4.43121690e-02
  0.00000000e+00 4.00000000e-01 5.00000000e+00 2.00000000e+00
  2.00000000e+00 6.00000000e+00 4.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [5.00000000e+00 9.10000000e+01 2.00000000e+00 2.32800000e+02
  2.46000000e+02 9.22737143e+03 6.42570300e-03 2.49598390e-02
  0.00000000e+00 0.00000000e+00 1.00000000e+01 4.00000000e+00
  1.00000000e+00 4.00000000e+00 3.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 2.00000000e+00 2.65000000e+01
  1.49000000e+02 6.00117148e+03 4.00000000e-03 2.20109160e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.00000000e+00 3.97500000e+02 3.00000000e+00 8.95000000e+01
  8.00000000e+00 2.49000000e+02 6.66666670e-02 9.16666670e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 3.00000000e+00
  2.00000000e+00 1.00000000e+00 6.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  5.00000000e+01 2.61723333e+03 0.00000000e+00 1.36054400e-03
  5.32288163e+01 0.00000000e+00 5.00000000e+00 4.00000000e+00
  1.00000000e+00 3.00000000e+00 2.00000000e+00 3.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [2.00000000e+00 6.71000000e+02 0.00000000e+00 0.00000000e+00
  1.50000000e+01 1.10600000e+03 0.00000000e+00 4.00000000e-02
  0.00000000e+00 0.00000000e+00 1.20000000e+01 2.00000000e+00
  2.00000000e+00 4.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.00000000e+00 4.30000000e+01 0.00000000e+00 0.00000000e+00
  1.70000000e+01 4.34000000e+02 0.00000000e+00 1.05263160e-02
  0.00000000e+00 0.00000000e+00 5.00000000e+00 2.00000000e+00
  2.00000000e+00 6.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 4.00000000e+00 1.17250000e+02
  9.60000000e+01 5.28620833e+03 1.10000000e-02 2.41190480e-02
  0.00000000e+00 0.00000000e+00 1.10000000e+01 2.00000000e+00
  2.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [1.40000000e+01 2.13711274e+03 0.00000000e+00 0.00000000e+00
  5.30000000e+01 4.22340984e+03 8.77193000e-03 1.71263540e-02
  8.88664853e+00 0.00000000e+00 1.10000000e+01 3.00000000e+00
  2.00000000e+00 2.00000000e+00 2.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  6.00000000e+00 1.22500000e+02 1.11111110e-02 7.77777780e-02
  0.00000000e+00 2.00000000e-01 5.00000000e+00 2.00000000e+00
  6.00000000e+00 6.00000000e+00 4.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00000000e+00 7.40000000e+01 0.00000000e+00 0.00000000e+00
  4.90000000e+01 1.61608333e+03 4.00000000e-03 1.60000000e-02
  0.00000000e+00 0.00000000e+00 3.00000000e+00 2.00000000e+00
  2.00000000e+00 6.00000000e+00 1.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00]]
Labels DBSCAN [ 0 13 -1 -1 -1 -1  0  0  1 -1 -1 -1 -1 -1 -1 -1  0 -1  2 -1 -1  0 -1 -1
  0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  4 -1 -1  7 -1  2 -1 -1 -1 10
 -1  0]
Labels Birch [  494  1737   341   154  5833  2060   458   155   993  7107  4304  5516
  3881  2390  1811 10977   342  4470  1012 11563  2160   156  2434   721
   419  2293 10717  1423  1738 10969   994  1424  3690  2707  4357 11562
  4316  3838  1739  5517 11449   931  4604  1013  1329  6150  3691  1468
  6633   343]
Aantal clusters Birch 12096

Task 4

In [11]:
# manual Silhouette score

# Davies Buildin Score

# calinski-harabasz index

Task 5 ALL MANUAL

In [12]:
# Euclidian distance

# Manhattan distance

# Cosine similarity

# Distances effect on dbscan